/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;


	@import url('https://rsms.me/inter/inter-ui.css');
	@import url('https://fonts.googleapis.com/css?family=Sacramento');

	h1, h2, h3, h4, h5, h6 {
		@apply font-normal leading-normal my-4;
	}

	p {
		@apply font-normal leading-normal mb-4;
	}

	a {
		@apply no-underline font-sans font-semibold text-black;
	}

	a:hover {
		@apply underline;
	}

	.logo {
		@apply font-logo text-4xl tracking-normal font-normal leading-none;
	}

	@media (min-width: config('screens.md')) {
		.logo {
			@apply text-5xl;
		}
	}

	.logo:hover {
		@apply no-underline
	}

	#menu .links {
		@apply ;
	}

	#menu .links a {
		@apply block p-6;
	}

	#menu .links a.active {
		@apply block p-6 text-primary bg-primary-lightest;
	}

	@media (min-width: config('screens.md')) {
		#menu .links a {
			@apply mr-6 inline-block p-0;
		}
	}


	.btn {
		@apply font-normal cursor-pointer inline-block text-center text-sm px-4 py-2 leading-normal border border-cta rounded text-cta-darkest bg-cta;
	}

	.btn-primary {
		@apply text-black border-primary bg-primary;
	}

	.btn-white {
		@apply text-cta-darkest border-cta-darkest bg-white;
	}

	.btn-black {
		@apply border text-black border-black bg-transparent;
	}

	@media (min-width: config('screens.md')) {
		.btn {
			@apply w-auto;
		}
	}

	.btn:hover {
		@apply text-cta-darkest cursor-pointer underline;
	}

	.btn:active, .btn::focus, button:focus {
		outline: none;
	}


	.btn-white:hover {
		@apply bg-cta-lightest;
	}

	.btn-black:hover {
		@apply border-transparent text-primary-lighter bg-black;
	}

	.btn-large {
		@apply text-lg py-4 px-8;
	}

	.btn-shadow {
		@apply shadow-lg;
	}

	.btn-shadow:active {
		@apply shadow-none;
	}

	.status {
		@apply bg-grey-lightest rounded font-semibold text-grey p-4;
	}

	.items > * {
		@apply ml-10;
	}

	input[type=text],
	input[type=email],
	input[type=password] {
		@apply text-grey-dark appearance-none w-full py-5 px-3 leading-tight border rounded;
	}

	input:focus {
		@apply text-black outline-none shadow-outline;
	}



	.checkbox input {
  		@apply hidden;
	}

	.checkbox label {
		@apply cursor-pointer;
	}

	.checkbox label .on {
		@apply w-6 h-6 mr-2 inline-block;
	}

	.checkbox label .off {
		@apply w-6 h-6 mr-2 hidden;
	}

	.checkbox input + label:hover {
  		@apply text-black;
	}

	.checkbox input:checked + label {
  		@apply text-black;
	}

	.checkbox input:checked + label .on {
  		@apply hidden;
	}

	.checkbox input:checked + label .off {
  		@apply inline-block;
	}


	input[type=range] {
		@apply appearance-none w-full bg-primary-lighter rounded-full outline-none;
	}

	input[type=range]:focus, input[type=range]:active {
  		@apply outline-none;
	}

	input[type=range]::-webkit-slider-runnable-track {
		@apply cursor-pointer outline-none;
	}

	input[type=range]::-webkit-slider-thumb {
		@apply bg-black cursor-pointer appearance-none w-4 h-6 rounded-full border-none outline-none;
	}

	input[type=range]:active::-webkit-slider-thumb {
		@apply bg-primary-darkest;
	}



/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
